<div class="left">
    {{#each burgers}}
    <div class="burgerItem" value="{{id}}">
        <div class="nameCal">
            <p class="burgerName">{{name}}</p>
            <p class="burgerCal">{{cal}} Cal</p>
            <div class="clearfix"></div>
        </div>
        <img src="{{image}}" alt="{{name}}">
    </div>
    {{/each}}
</div>
<div class="orderAndEat">
        <div class="right">

        </div>

</div>

<div class="allOrders">
    something
</div>

<div class="notification">
    <p>Your burger is ready</p>
</div>